.footer{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: pink;
    border-radius:20px;
    column-gap:150px; 
    padding: 30px;
    cursor: pointer;

}
.footer__first__box{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: start;
    gap:5px;
}
.footer__info{
    transition: .3s;
    cursor: pointer;
}
.footer__second__box{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap:5px;
}
.footer__third__box{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap:5px;
}
.first__box__article{
    color: red;
    font-size: 30px;
    font-weight: 700;
}
.footer__info:hover{
    color: red;
    transform: scale(1.1);
}