@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@500&display=swap');
a{
    text-decoration: none;
}
li{
    list-style: none;
}
$pink:#FDA3C4;
$whitepink:#FFE6EF;
$grey:#909090;
$lightdark:#1F1F1F;
body{
    background:#ffffff;
    font-family:'Poppins', cursive;

}
*{
    padding: 0;
    margin: 0;
}
